#title{
text-align:center;
}
#main{
max-width:100%;
max-height:auto;
text-align:justify;
margin:auto;
}
#img-div{
width: auto;
object-fit: contain;
text-align:center;
}
#image{
  display: block;
  max-width: 100%;
  height: auto;
  margin:auto;
  }
  img{
    width:200px;
    height:250px;
  }
footer{
text-align:center;
background-color:gray;
height:50px;
}
